body {
    background: #111;
    margin: 0;
    color: #ddd;
    font-family: sans-serif;
}

body > h1 {
    display: block;
    background: rgba(255, 255, 255, 0.05);
    padding: 8px 16px;
    text-align: center;
    margin: 0;
}

body > form {
    display: block;
    background: rgba(255, 255, 255, 0.075);
    padding: 16px 16px;
    margin: 0;
    text-align: center;
}

body > ul {
    display: block;
    padding: 0;
    max-width: 1000px;
    margin: 32px auto;
}

body > ul > li {
    display: block;
    margin: 0;
    padding: 0;
}

body > ul > li > a.uploaded_file {
    display: block;
    margin: 0 0 1px 0;
    list-style: none;
    background: rgba(255, 255, 255, 0.1);
    padding: 8px 16px;
    text-decoration: none;
    color: inherit;
    opacity: 0.5;
}

body > ul > li > a:hover {
    opacity: 1;
}

body > ul > li > a:active {
    opacity: 0.5;
}

body > ul > li > a > span {
    float: right;
    font-size: 90%;
}

body > ul > li > form {
    display: inline-block;
    padding: 0;
    margin: 0;
}

body > ul > li.owned {
    margin: 8px;
}

body > ul > li > form > button {
    opacity: 0.5;
    display: inline-block;
    padding: 4px 16px;
    margin: 0;
    border: 0;
    background: rgba(255, 255, 255, 0.1);
    color: inherit;
}

body > ul > li > form > button:hover {
    opacity: 1;
}

body > ul > li > form > button:active {
    opacity: 0.5;
}

body > ul > li.uploading {
    animation: upanim 2s linear 0s infinite alternate;
}

.alert {
    padding: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    display: inline-block;
    color: black;
    opacity: 0.83;
    transition: opacity 1s;
  }

/* The alert message box */
.danger {
    background-color: #f44336; /* Red */
}

.success {
    background-color: #04AA6D;
}

.warning {
    background-color: #ff9800; 
}

.info {
    background-color: #2196F3;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: white;
} 


@keyframes upanim {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 0.8;
    }
}